.benefits {
    padding-top: 3.2rem;
    padding-bottom: 11.2rem;
    background-color: $green-soft;
    position: relative;
    @media (min-width: $tabletP1) {
        padding-block: 0;
    }
    // .benefits__container

    &__container {
        z-index: 1;
        @media (min-width: $tabletP1) {
            position: relative;
        }
        &:before {
            @media (min-width: $tabletP1) {
                content: "";
                position: absolute;
                width: 41.8rem;
                height: 9.2rem;
                background: linear-gradient(
                    180deg,
                    rgba(236, 247, 238, 0.13) 0%,
                    #ecf7ee 100%
                );
                right: 0;
                bottom: 0;
                z-index: 5;
            }
        }
    }

    //.benefits__vector

    &__vector {
        position: absolute;
        position: absolute;
        width: 50.5rem;
        height: 36.8rem;
        left: -3.3rem;
        top: 40rem;
        z-index: 1;
        opacity: 0.14;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        @media (min-width: $tabletP1) {
            top: 2.7rem;
            width: 75rem;
            height: auto;
            left: unset;
            right: 0;
            z-index: 0;
        }
    }

    // .benefits__inner

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        @media (min-width: $tabletP1) {
            flex-direction: row;
            justify-content: space-between;
            gap: 3rem;
            height: auto;
            box-sizing: border-box;
            padding: 0;
        }
    }

    // .benefits__content

    &__content {
        h2 {
            color: $green-primary;
            line-height: 1.2;
            font-size: 3.2rem;
            @media (min-width: $tabletSmallP1) {
                font-size: 4rem;
            }
            @media (min-width: $tabletP1) {
                font-size: 4.8rem;
                margin-top: 5.2rem;
                line-height: 1.1;
            }
        }

        p {
            margin-top: 1.6rem;
            font-family: $secondary-font;
            line-height: 1.6;

            & + p {
                margin-top: 1.2rem;
                @media (min-width: $tabletP1) {
                    margin-top: 1rem;
                }
            }
            @media (min-width: $tabletP1) {
                font-size: 2rem;
                line-height: 1.52;
                margin-top: 2rem;
            }
        }
        @media (min-width: $tabletP1) {
            width: 60%;
            max-width: 66.9rem;
        }
    }

    // .benefits__list

    &__list {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        position: relative;
        z-index: 2;
        cursor: pointer;
        @media (min-width: $tabletP1) {
            width: 57%;
            max-width: 41.8rem;
            height: 35rem;
            overflow-y: auto;
            scrollbar-width: none;
            margin-top: 5.2rem;
            position: relative;
            z-index: 4;
            padding-bottom: 10rem;
        }
    }

    // .benefits__item

    &__item {
        padding: 1.6rem;
        border-radius: 2rem;
        background-color: $white;
        display: flex;
        flex-direction: row;
        gap: 1.2rem;
        span {
            display: flex;
            width: 1.6rem;
            height: 1.6rem;
            flex-shrink: 0;
            margin-top: 0.6rem;

            svg {
                width: 100%;
                height: 100%;
                color: #4b8369;
            }
        }
        p {
            font-size: 1.6rem;
            line-height: 1.5;
            font-family: $secondary-font;
            color: $black;
            @media (min-width: $tabletP1) {
                font-size: 1.8rem;
                line-height: 1.5;
            }
        }
    }

    .btn {
        position: absolute;
        bottom: 3.2rem;
        left: 50%;
        z-index: 2;
        margin: auto;
        transform: translateX(-50%);
        @media (min-width: $tabletP1) {
            position: relative;
            left: unset;
            bottom: unset;
            transform: unset;
            margin-top: 2rem;
        }
    }
}
.container {
}

.btn--green-gradient {
}
