.cta {
    // .cta__container

    &__container {
        position: relative;
    }

    // .cta__vector

    &__vector {
        display: none;
        @media (min-width: $tabletP1) {
            display: block;
            max-width: 32.2rem;
            margin-top: 4rem;
        }
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    // .cta__inner

    &__inner {
        padding: 3.2rem 1.6rem;
        box-sizing: border-box;
        background: conic-gradient(
            from 180deg at 50% 0%,
            #032817 0deg,
            #005830 56.67deg,
            #032817 360deg
        );

        box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.08);
        border-radius: 2rem;
        @media (min-width: $tabletSmallP1) {
            padding: 3.6rem;
            display: flex;
            flex-direction: row;
            gap: 2rem;
            justify-content: space-between;
        }
        @media (min-width: $tabletP1) {
            padding: 3.6rem 4.8rem;
        }
        @media (min-width: $tabletLargeP1) {
            padding: 3.6rem 8rem;
        }
    }

    //. cta__content

    &__content {
        display: flex;
        flex-direction: column;

        h2 {
            color: $white;
            font-size: 3.2rem;
            line-height: 1.2;
            text-align: center;
            @media (min-width: $tabletSmallP1) {
                text-align: left;
            }
            @media (min-width: $tabletP1) {
                font-size: 3.6rem;
                line-height: 1.35;
            }
        }
        ul {
            margin-top: 2.4rem;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            @media (min-width: $tabletSmallP1) {
                margin-top: 1.6rem;
                gap: 1.2rem;
            }
            li {
                display: flex;
                flex-direction: column;
                gap: 1.2rem;
                text-align: center;
                align-items: center;
                padding: 0;
                margin: 0;
                @media (min-width: $tabletSmallP1) {
                    flex-direction: row;
                    align-items: center;
                    text-align: left;
                }
                span {
                    flex-shrink: 0;
                    width: 2rem;
                    height: 2rem;
                    opacity: 0.4;
                    flex-shrink: 0;
                    @media (min-width: $tabletSmallP1) {
                        width: 2.4rem;
                        height: 2.4rem;
                    }
                    svg {
                        width: 100%;
                        height: 100%;
                        color: $white;
                    }
                }
                p {
                    font-size: 1.8rem;
                    color: $white;
                    line-height: 1.612;
                    font-family: $secondary-font;
                    @media (min-width: $tabletSmallP1) {
                        font-size: 2rem;
                        line-height: 1.67;
                    }
                }
                &::after {
                    display: none;
                }
            }
        }
        .btn {
            margin: 1.2rem auto 0 auto;
            @media (min-width: $tabletSmallP1) {
                margin-top: 2rem;
                margin-left: 3.6rem;
            }
        }
    }
}
.btn {
}
.btn--white {
}
