.features {
    /*    padding-top: 4rem;
    padding-bottom: 4rem; */
    padding-block: 4rem;
    @media (min-width: $tabletSmallP1) {
        padding-block: 5.2;
    }
    @media (min-width: $tabletP1) {
        padding-block: 6.2rem;
    }
    @media (min-width: $tabletLargeP1) {
        padding-block: 7.2rem;
    }

    // .features__container

    &__container {
    }

    // .features__inner

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @media (min-width: $tabletSmallP1) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem;
        }
    }

    // .features__item

    &__item {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        align-items: center;
        @media (min-width: $tabletSmallP1) {
            gap: 1.6rem;
            flex-direction: row;
            align-items: flex-start;
        }
        span {
            display: flex;
            width: 3.6rem;
            height: 3.6rem;
            flex-shrink: 0;
            @media (min-width: $tabletSmallP1) {
                width: 3.2rem;
                height: 3.2rem;
                margin-top: 0.4rem;
            }
            svg {
                width: 100%;
                height: 100%;
                color: $green-icon;
            }
        }
        p {
            font-size: 18px;
            line-height: 1.6;
            text-align: center;
            color: $black;
            font-family: $secondary-font;
            @media (min-width: $tabletSmallP1) {
                text-align: left;
            }
            @media (min-width: $tabletP1) {
                font-size: 2rem;
                line-height: 1.67;
            }
        }
    }
}
