.footer {
    border-top: 0.1rem solid rgba(0, 0, 0, 0.12);
    margin-bottom: 3rem;
    @media (min-width: $tabletSmallP1) {
        margin-bottom: 0;
    }
    @media (min-width: 1024px) {
        border-top: unset;
    }
    // .footer__container
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
        @media (min-width: $tabletSmallP1) {
            padding: 2.4rem 0;
        }
        @media (min-width: 1024px) {
            border-top: 0.1rem solid rgba(0, 0, 0, 0.12);
        }
    }

    // .footer__logo

    &__logo {
        max-width: 18.8rem;
        transition: 0.2s all;
        @media (min-width: $tabletSmallP1) {
            max-width: 20rem;
        }
        @media (min-width: $tabletP1) {
            max-width: 22.3rem;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:hover {
            transform: scale(1.1);
            transition: 0.2s all;
        }
    }

    // .footer__copy

    &__copy {
        p {
            margin: 0;
            font-size: 1.4rem;
            line-height: 1.67;
            font-family: $secondary-font;
            @media (min-width: $tabletSmallP1) {
                font-size: 1.6rem;
            }
            @media (min-width: $tabletP1) {
                font-size: 1.8rem;
            }
        }
    }
}
.container {
}
