.grid-column {
    padding-top: 4rem;
    padding-bottom: 2rem;
    @media (min-width: $tabletSmallP1) {
        padding-bottom: 5.6rem;
    }
    @media (min-width: $tabletP1) {
        padding-top: 7.2rem;
    }
    // .grid-column__container

    &__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        h2 {
            color: $green-primary;
            line-height: 1.2;
            font-size: 3.2rem;
            text-align: center;
            @media (min-width: $tabletSmallP1) {
                line-height: 1.1;
                font-size: 4rem;
            }
            @media (min-width: $tabletP1) {
                font-size: 4.8rem;
            }
        }
        @media (min-width: $tabletSmallP1) {
            gap: 3.2rem;
        }
    }

    // .grid-column__list

    &__list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;

        @media (min-width: $tabletSmallP1) {
            grid-template-columns: repeat(2, 1fr);
            gap: 3rem;
        }
    }

    // .grid-column__item

    &__item {
        border-radius: 2rem;
        box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.08);
        background-color: $white;
        padding: 1.6rem;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        @media (min-width: $tabletP1) {
            padding: 2rem;
        }
        ul {
            margin: 0 0 0 1rem;
            li {
                margin: 0;
                font-size: 1.8rem;
                line-height: 1.67;
                font-family: $secondary-font;
                @media (min-width: $tabletSmallP1) {
                    padding-left: 1.8rem;
                }
                &::after {
                    width: 0.4rem;
                    height: 0.4rem;
                    margin-top: 0.4rem;
                }
            }
        }
    }

    //.grid-column__item-head

    &__item-head {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        @media (min-width: $tabletSmallP1) {
            flex-direction: row;
            align-items: center;
        }
        h3 {
            margin: 0;
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 1.25;
            font-family: $secondary-font;
            margin-left: 1.2rem;
            @media (min-width: $tabletSmallP1) {
                margin-left: 0;
            }
        }
        span {
            width: 4rem;
            height: 4rem;
            box-sizing: border-box;
            flex-shrink: 0;
            background: #498067;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5rem;
            margin-left: 1.2rem;
            svg {
                width: 2.4rem;
                height: 2.4rem;
                color: $white;
            }
        }
    }
}
.container {
}
