.padding,
section,
header,
footer {
    box-sizing: border-box;
    padding-right: $containerPaddingS;
    padding-left: $containerPaddingS;
    @media (min-width: $tabletSmallP1) {
        padding-right: $containerPaddingM;
        padding-left: $containerPaddingM;
    }
    @media (min-width: $tabletP1) {
        padding-right: $containerPadding;
        padding-left: $containerPadding;
    }
    @media (min-width: $tabletLargeP1) {
        padding-right: $containerPaddingXL;
        padding-left: $containerPaddingXL;
    }
}

main {
    padding-top: 6.4rem;

    @media (min-width: $tabletP1) {
        padding-top: 0;
    }
}
.container {
    max-width: 117rem;
    margin: 0 auto;
}
