// Setting
@import "_functions";
@import "_variables";
@import "_mixins";
@import "_reset";
@import "_fonts";
@import "_typography";
@import "_layout";
@import "components/_btn.scss";

// Components

@import "components/utils.scss";

// Blocks
@import "blocks/header.scss";

@import "blocks/features";
@import "blocks/benefits.scss";
@import "blocks/grid-column.scss";
@import "blocks/cta.scss";
@import "blocks/contact-us.scss";
@import "blocks/footer.scss";
@import "blocks/hero-carousel.scss";
